@model List<Producto>

<section class="portada  text-dark">
    <div class="container">

        <div class="row align-items-center justify-content-center">

            <div class="col col-12 col-md-10  g-3">
                <h1 class="titulo fw-bold display-2   text-center mb-5">Bienvenido a Raices Carpinteria</h1>

            </div>

        </div>

    </div>
    <button class="boton btn btn-success w-25 border rounded-3">
        Ver Productos
    </button>


</section>

<section id="productos" class="section-productos">

    
    <div class="info-productos">
        <h2>Productos destacados</h2>
        <p>
            Diseño, innovación y precisión. Descubre los ítems disponibles de nuestra colección y encuentra
            exactamente lo que tu proyecto necesita.
        </p>
    </div>

    <div class="contenedor-productos d-flex flex-wrap align-items-center justify-content-center">
        

        @foreach (var items in Model)
        {
            <div class="producto w-25 p-3 bg-white m-2 border rounded-3">
                
                <div class="p-3">
                    <h6 class="fs-5">@items.nombre</h6>
                    <p class="text-black-50">Materiales: @items.elaborado</p>
                    <p class="text-black-50">Categoria: @items.categoria</p>
                    <p class="text-black-50">Descripcion: @items.descripcion</p>
                    <p class="text-black-50">Alto: @items.alto</p>
                    <p class="text-black-50">Largo: @items.largo</p>
                    <p class="text-black-50">Ancho: @items.profundidad</p>
                    <p class="text-black-50">Precio: @items.precio</p>
                    <p class="text-black-50">En oferta: @items.destacado</p>
                    <p class="text-black-50">Stock: @items.activo</p>

                    <button class="boton-prod btn btn-outline-primary">Comprar</button>
                </div>
            </div>

        }
    </div>

</section>



<section class="section-nosotros">

    <div class="img-contenedor">
        <img src="~/img/img-nosotros-index.jpg" alt="carpinteria" />
    </div>

    <div class="info-nosotros">
        <h2>¿Quienes somos?</h2>
        <p>
            En <span>Raíces Carpintería</span> combinamos innovación, diseño y funcionalidad para desarrollar soluciones a la
            medida de tus necesidades. Nos apasiona la excelencia técnica y el compromiso de transformar ideas 
            complejas en experiencias simples, confiables y de alto impacto.</p>
    </div>

        
    
</section>

<section class="estadistica">
    <div class="contenedor">

        <div class="celda row">

            <div class="col-12 col-md-4">
                <div class="tarjeta">
                    <h3 class="display-4 text-warning">100%</h3>
                    <p class="h4 text-dark">Madera Resistente</p>
                </div>
            </div>

            
            <div class="col-12 col-md-4">
                <div class="tarjeta">
                    <h3 class="display-4 text-warning">+15</h3>
                    <p class="h4 text-dark">Empresas Globales han puesto su confianza en nosotros</p>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="tarjeta">
                    <h3 class="display-4 text-warning">+40</h3>
                    <p class="h4 text-dark">Años de trayectoria</p>
                </div>
            </div>
        </div>
    </div>

</section>


<form class="formulario py-5">
    <h4>Envianos un mensaje</h4>
    <p class="text-muted mb-4">¿Tenes sugerencias, dudas o un problema? Completa el formulario y nos pondremos en contacto</p>
    

    <div class="row ">
       <div class="col-12 col-md-6">
           <label class="form-label" for="txtNombre">Nombre Completo:</label>
            <input id="txtNombre" name="txtNombre" class="form-control" type="text" placeholder="Ingresa el nombre" required />
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label" for="txtEmail">Correo electronico</label>
            <input id="txtEmail" name="txtEmail" class="form-control" type="text" placeholder="Ingresa tu correo" />
        </div>
            <div class="col-12  mb-3">
                <label class="form-label" >Motivo de contacto: </label>
            <select id="cboAsunto" name="cboAsunto" class="form-select">
                <option selected disabled>Selecciona una opción</option>
                <option value="sugerencia">Tuve un inconveniente con mi pedido</option>
                <option value="error">Solicitar presupuesto</option>
                <option value="consulta">Quiero ser vendedor oficial</option>
                <option value="consulta">Consulta general</option>

            </select>
            </div>
            <div class="col-12 mb-3">
               <label class="form-label" for="txtMensaje">Ingrese su mensaje o sugerencia: </label>
               <textarea id="txtMensaje" name="txtMensaje" class="form-control" placeholder="Escribi aca tu sugerencia o mensaje"></textarea>
 

</div>
<div class="col-12 mb-3">
    <button class="botonformulario btn btn-primary">Enviar</button>
</div>
        </div>
   


</form>
